@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$ff: 'Roboto', sans-serif;

.topH {
    text-align: center;
    font-family: $ff;
    font-weight: normal;
    font-size: 28px;
}

.authLab {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
    font-family: $ff;
    font-weight: normal;
    font-size: 24px;
}

.unauthLab {
    margin-left: 30%;
    font-size: 24px;
    font-family: $ff;
    font-weight: normal;
    color: red;
}

.mod {
    background: #FFFFFF;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    .rgAuth {
        margin-left: 170px;
    }
    .login {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    input {
        width: 250px;
    }
    .aBttn {
        margin-top: 20px;
        font-family: $ff;
        font-weight: normal;
        text-transform: unset;
    }
}

.calc {
    display: inline-block;
    background: #E4E4E4;
    width: 355px;
    height: 371px;
    margin-left: calc(50% - 355px / 2 - 10px);
    margin-top: 20px;
    padding-left: 0.8px;
    .top {
        text-align: right;
        input {
            font-family: $ff;
            font-weight: normal;
            font-size: 42px;
            height: 1px;
            text-align: right;
        }
        .tFrst {
            input{
                font-size: 18px;
                font-weight: 300;
            }
        }
        .first {
            margin-top: 38px;
            margin-bottom: 6px;
        }
        .bScnd {
            margin-bottom: 6px;
        }
        .textField {
            fieldset {
                border: none;
            }
        }
    }
    .bttns {
        margin-left: 3.2px;
        .leftBlock {
            float: left;
            display: grid;
            grid-template-columns: 88px 88px 88px;
            .num {
                background: #FFFFFF;
                font-weight: normal;
            }
        }
        .rightBlock {
            display: flex;
            flex-flow: column;
        }
    }
    button {
        font-family: $ff;
        width: 84px;
        height: 54px;
        font-size: 28px;
        font-weight: 300;
        background: #F3F3F3;
        margin-bottom: 4px;
        border-radius: unset;
    }
    button:hover {
        background: #e4e3e3 !important;
    }
}